<div class="h-32 relative bg-zinc-800 pb-8">
  <div
    class="absolute bottom-8 left-1/2 -translate-x-1/2 pointer-events-auto w-full max-w-xl mx-auto rounded-xl border border-zinc-700 bg-zinc-900 p-4 shadow-lg">
    <textarea appAutoResize class="mb-2 w-full h-full resize-none border-0 outline-none text-zinc-200 max-h-96"
      placeholder="Write your question here..." [(ngModel)]="prompt" (keypress)="onEnterPressed($event)"></textarea>

    <div class="flex justify-end gap-x-2">
      <p-select variant="filled" [options]="availableModels" [(ngModel)]="choosedModel" optionLabel="label"
        optionValue="model" (onChange)="changeModel($event)" />

      <button pButton iconOnly (click)="sendPrompt()">
        <svg data-p-icon="arrow-up"></svg>
      </button>
    </div>
  </div>
</div>